<p>// Call GET: '/burgers' to see a list of all burgers.</p>
<p>// Call PUT: '/burgers/{name of burger}' to add a new burger.</p>
<p>// Call POST: '/burgers/{name of burger}' to eat one of the burgers.</p>